<a href='/logout'>Logout</a> | <a href='#!/groups/all'>Display all groups</a> | <a href='#!/groups/new'>Create a new group</a>
<h1>Hello, {{currentUser.name}}!</h1>
<h3>List of groups you are following</h3>
<table class='table'>
  <thead>
    <th>Group Name</th>
    <th>Description</th>
  </thead>
  <tr ng-repeat='group in followUser.following'>
    <th><a href='#!/groups/show/{{group._id}}'>{{group.name}}</a></th>
    <th>{{group.description}}</th>
  </tr>
</table>
<h3>List of groups you are a member of</h3>
<table class='table'>
  <thead>
    <th>Group Name</th>
    <th>Description</th>
  </thead>
  <tr ng-repeat='group in memberUser.memberships'>
    <th><a href='#!/groups/show/{{group._id}}'>{{group.name}}</a></th>
    <th>{{group.description}}</th>
  </tr>
</table>
<h2>Groups are dropdowns</h2>
<h3>My Votes</h3>
<p>Group Name | Item | Vote</p>
<p>Any group you are a member of displays a list of votes that you can vote on</p>
<h3>Admin</h3>
<h3>Separate page for displaying all groups you are able to follow</h3>
<p>Possible solution(s): disable follow button</p>
<h3>Membership</h3>
<h3>Endorsements</h3>
<script>
$(document).ready(function(){
  console.log('asdf');
  var socket = io.connect();
  // socket.on('load_messages',function(data){
  //   $('#error').html('');
  //   current_user = data.current_user;
  //   var messages = data.messages;
  //   var messages_thread ="";
  //   for(var i =0; i < messages.length;i++){
  //     messages_thread = '<p' + messages[i].name + ': ' + messages[i].message + '</p>';
  //   $('#board').append(messages_thread);
  // }
  // })
  // return false;
  $('#clickme').click(function(){
    socket.emit('new_message',{message: $('#message').val()});
    return false;
  })
  socket.on('post_new_message',function(data){
    $('#message_log').append('<p>' + data.new_message + '</p>');
  })

})

</script>
<div id="mssg-container">
  <legend>Chatroom</legend>
  <div id="message_log"></div>
  <form id="new_message">
    <textarea id="message"></textarea>
    <input type="submit" value="submit" id="clickme">
  </form>
</div>
