<div class="row-fluid">
    <div class="col-sm-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"><span class="text-primary">VOTERGAB &mdash; {{currentUser.name}}</span></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav pull-left">
                        <li><a href="#!/dashboard"><span class="text-primary">Dashboard</span></a></li>
                        <li><a href="#!/groups/all"><span class="text-primary">Find Group</span></a></li>
                        <li><a href="#!/groups/new"><span class="text-primary">New Group</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown"><a href="#!/groups/show/{{group._id}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="mygroups"><span class="text-primary">Group Members</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat='member in group.members'><a href="">{{member.name}}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#!/groups/show/{{group._id}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="mygroups"><span class="text-primary">My Follows</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat='group in followUser.following'><a href='#!/groups/show/{{group._id}}'>{{group.name}}</a></li>
                                <!-- ON HOVER, show {{group.description}} on left? -->
                            </ul>
                        </li>

                        <li class="dropdown"><a href="#!/dashboard" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="mygroups"><span class="text-primary">My Groups</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="group in adminUser.admin"><a href='#!/groups/show/{{group._id}}'>{{group.name}}</a></li>
                                <li role="separator" class="divider"></li>
                                <!-- fix this line again -->
                                <li ng-repeat="group in memberUser.memberships" ng-if="!group in adminUser.admin"><a href='#!/groups/show/{{group._id}}'>{{group.name}}</a></li>
                                <!-- ON HOVER, show {{group.description}} on left? -->
                            </ul>
                        </li>
                        <li><a href="/logout" class="navbar-right"><span class="text-danger">Logout</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <button ng-if='isMember(currentUser._id, group.members)' class='btn btn-primary' role='button' ng-click='newEndorsement(group._id)'>Create a new endorsement</button>
        <!--<button ng-if='isAdmin(currentUser._id, group.admins)' class='btn btn-primary' role='button' ng-click='promoteMember(group._id)'>Add member</button>-->
        <h2>Add a member</h2>
        <form ng-if='isAdmin(currentUser._id, group.admins)'>
          <select class='form-control' ng-model='followerId'>
            <option ng-repeat='follower in groupFollowers' ng-value='follower._id'>{{follower.name}}</option>
          </select>
          <button ng-click='addMember(followerId)'>Add member</button>
        </form>
        <h2>Name: {{group.name}}</h2>
        <h3>Description: {{group.description}}</h3>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                  <th>Group</th>
                  <th>Item</th>
                  <th>Vote</th>
                </tr>
            </thead>
            <tbody class="text-primary" ng-repeat='group in userEndorsements.memberships'>
                <tr ng-repeat='endorsement in group.endorsements'>
                    <td class="h4">{{group.name}}</td>
                    <td class="h4">{{endorsement.title}}</a></td>
                    <td>
                        <button class='btn btn-success btn-sm' role='button'>YEA</button>
                        <button class='btn btn-danger btn-sm' role='button'>NAY</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12">
            <h2>Group Endorsement Feed</h2>
            <ul>
                <li class="h4">Endorsement 1 - details....</li>
                <li class="h4">Endorsement 2 - details....</li>
                <li class="h4">Endorsement 3 - details....</li>
            </ul>
        </div>
        <div class="col-sm-12">
          <h3 class="text-white">{{group.name}} chat</h3>
          <!-- <h1 class="text-primary lead">Lobby Chat</h2> -->
            <script>
            $(document).ready(function(){
              // console.log(cur_group);
              var socket = io.connect();
              socket.on('gload_messages',function(data){
                // var x = {{group._id}}
                // $('#error').html('');
                // current_user = data.current_user;
                var messages = data.message_list;
                // console.log("LOADED******",messages);
                // console.log("GRAB ALL",messages);
                // var messages_thread ="";
                for(var i =0; i < messages.length;i++){
                  messages_thread = '<p><strong>' + messages[i].user.name + ' : </strong>' + messages[i].message + '</p>';
                $('#message_log').append(messages_thread);
              }
              })
              // return false;
              $('#gnew_message').submit(function(){
                socket.emit('group_new_message',{message: $('#message').val(),c_group:$('#message_group').val(),c_user:$('#message_user').val(),c_userid:$('#message_userid').val()});
                $('#message').val(" ");
                return false;
              })
              socket.on('group_post_new_message',function(data){
                // console.log("from",data);
                for(var i = 0 ; i < data.new_message.length;i++){
                  $('#message_log').append('<p><strong>' + data.new_message[i].user.name + ' : </strong>' + data.new_message[i].message + '</p>');
                }
                scrollLog2();
              })
              function connect(){
                socket.emit('joingroup',{cur_group: $('#message_group').val()});
              }
              function getmssgs(){
                socket.emit('ggrab_messages',{cur_group: $('#message_group').val()});
                setTimeout(scrollLog,500);
              }
              function scrollLog(){
                $("#message_log").animate({ scrollTop: $("#message_log")[0].scrollHeight}, 1000);
              }
              function scrollLog2(){
                $("#message_log").scrollTop($("#message_log")[0].scrollHeight);
              }
              setTimeout(connect,1500);
              setTimeout(getmssgs,1500);
            })
            </script>
            <div id="mssg-container">
              <div id="message_log"></div>
              <form id="gnew_message">
                <input type="hidden" value="{{group._id}}" id="message_group">
                <input type="hidden" value="{{c_user._id}}" id="message_userid">
                <input type="hidden" value="{{c_user.name}}" id="message_user">
                <input type="text" id="message" placeholder="Membership is required" class="form-control" ng-if="!c_user.following.includes(group._id)" disabled>
                <input type="text" id="message" placeholder="MESSAGE..." class="form-control" ng-if="c_user.following.includes(group._id)">
                <!-- <input type="text" id="message" placeholder="MESSAGE..." class="form-control" > -->
              </form>
            </div>
        </div>
    </div>
    <br />
    <div class="col-sm-4">
        <table class="table table-bordered table-striped table-hover table-nonfluid">
            <thead>
                <tr>
                    <th class="h4">Administrators</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="admin in group.admins | filter: {name:filter} | orderBy : '-createdAt'">
                    <td class="h5">{{admin.name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <h1>To do:</h1>
        <p>Link to add new endorsement, status='pending'</p>
        <p>Admin sets threshold of number of votes required for endorsement</p>
        <p>Table of 'to be' endorsements with item (name), votes, votes needed, vote action, (if admin: enable button if threshold is met)</p>
        <p>Once finalized, endorsement goes to status 'complete'</p>

    </div>
</div>
