<a href='#!/dashboard'>Home</a>
<h1>Create a New Endorsement</h1>
<form name='createEndorsement'>
  <div class='form-group row'>
    <label class='col-sm-2 col-form-label'>State:</label>
    <div class='col-sm-3'>
		  <select class='form-control' ng-model='endorsements.state'>
		  	<option value="AL">Alabama</option>
		  	<option value="AK">Alaska</option>
		  	<option value="AZ">Arizona</option>
		  	<option value="AR">Arkansas</option>
		  	<option value="CA">California</option>
		  	<option value="CO">Colorado</option>
		  	<option value="CT">Connecticut</option>
		  	<option value="DE">Delaware</option>
		  	<option value="DC">District Of Columbia</option>
		  	<option value="FL">Florida</option>
		  	<option value="GA">Georgia</option>
		  	<option value="HI">Hawaii</option>
		  	<option value="ID">Idaho</option>
		  	<option value="IL">Illinois</option>
		  	<option value="IN">Indiana</option>
		  	<option value="IA">Iowa</option>
		  	<option value="KS">Kansas</option>
		  	<option value="KY">Kentucky</option>
		  	<option value="LA">Louisiana</option>
		  	<option value="ME">Maine</option>
		  	<option value="MD">Maryland</option>
		  	<option value="MA">Massachusetts</option>
		  	<option value="MI">Michigan</option>
		  	<option value="MN">Minnesota</option>
		  	<option value="MS">Mississippi</option>
		  	<option value="MO">Missouri</option>
		  	<option value="MT">Montana</option>
		  	<option value="NE">Nebraska</option>
		  	<option value="NV">Nevada</option>
		  	<option value="NH">New Hampshire</option>
		  	<option value="NJ">New Jersey</option>
		  	<option value="NM">New Mexico</option>
		  	<option value="NY">New York</option>
		  	<option value="NC">North Carolina</option>
		  	<option value="ND">North Dakota</option>
		  	<option value="OH">Ohio</option>
		  	<option value="OK">Oklahoma</option>
		  	<option value="OR">Oregon</option>
		  	<option value="PA">Pennsylvania</option>
		  	<option value="RI">Rhode Island</option>
		  	<option value="SC">South Carolina</option>
		  	<option value="SD">South Dakota</option>
		  	<option value="TN">Tennessee</option>
		  	<option value="TX">Texas</option>
		  	<option value="UT">Utah</option>
		  	<option value="VT">Vermont</option>
		  	<option value="VA">Virginia</option>
		  	<option value="WA">Washington</option>
		  	<option value="WV">West Virginia</option>
		  	<option value="WI">Wisconsin</option>
		  	<option value="WY">Wyoming</option>
		  </select>
    </div>
    <br class='h1'>
    <label class='col-sm-2 col-form-label'>Year:</label>
    <div class='col-sm-3'>
      <input class='form-control' type='number' ng-model='endorsements.year' ng-minlength='1' required>
    </div>
    <br class='h1'>
    <p class='col-sm-6 col-sm-offset-4'>
      <button class='btn btn-primary btn-md' ng-click='getEndorsements(endorsements)' role='button'>Search</button>
      <button class='btn btn-danger btn-md' ng-click='resetForm()' role='button'>Reset</button>
    </p>
  </div>
</form>
<table class='table'>
  <thead>
    <th>Title</th>
    <th>Measure Code</th>
    <th>Actions</th>
  </thead>
  <tr ng-repeat='endorsement in data.measures.measure'>
    <th>{{endorsement.title}}</th>
    <th>{{endorsement.measureCode}}</th>
    <th><button ng-click='propose(endorsement.title, endorsement.measureId)'>Propose Endorsement</button></th>
  </tr>
</table>
